.m-l-5 {
    margin-left: 5px;
}
#basic-datatables td, #basic-datatables th {
    border: 1px solid #ddd;
    padding: 8px;
}
#basic-datatables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }